<h2>Edit this work</h2>

<%= form_for @work do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>

  <%= f.submit %>
<% end %>

<%= link_to "Say Good-bye to this Artist! ( D E L E T E )", @work, method: :delete, class: "delete"work
