<p>
  <strong>Crime:</strong>
  <%= @offense.crime %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offense.description %>
</p>

<h2>Dogs</h2>
<%= render @offense.dogs %>

<h2>Shame Your Pet:</h2>
<%= render 'dogs/form' %>

<%= link_to 'Edit', edit_offense_path(@offense) %> |
<%= link_to 'Back', offenses_path %>
