<p>
  <strong><%= @recipe.title %></strong>
</p>

<p>

  <%= @recipe.text %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<td><%= link_to 'Delete', recipe_path(@recipe),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', recipes_path %>
