<p>
  <h2><%= @recipe.title %></h2>
</p>

<p>
  <%= @recipe.text %>
</p>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<td><%= link_to 'Delete', recipe_path(@recipe),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', recipes_path %>

<h2>Ingredients:</h2>
<%= render @recipe.ingredients %>

<h2>Add an ingredient:</h2>
<%= render 'ingredients/form' %>
